@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <div class="col-4">
            <div>
                0 : 0
            </div>
        </div>
        <div class="col-4">
            <div class="text-center">BlazorPong</div>
        </div>
        <div class="col-4">
            <div class="text-right">
                <a href="/about" target="_blank" class="ml-md-auto">About</a>
            </div>
        </div>
    </div>

    <div id="plane" class="content p-0 pl-0 pr-0 m-0">
        @Body
    </div>
</div>
